<mat-toolbar class="topo">
        <button class="botao" routerLink="/" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>arrow_back</mat-icon>
          </button>
    <span class="titulo"> Histórico de Reservas</span>
    <span class="example-spacer"></span>
  </mat-toolbar>


<table mat-table [dataSource]="array" class="mat-elevation-z8">

    <ng-container matColumnDef="Professor" >
      <th mat-header-cell *matHeaderCellDef> Professor </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario_professor.nome}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario_professor.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="aluno">
      <th mat-header-cell *matHeaderCellDef> Aluno </th>
      <td mat-cell *matCellDef="let element"> {{element.aluno_nome}} </td>
    </ng-container>
  
    <ng-container matColumnDef="turma">
      <th mat-header-cell *matHeaderCellDef> Turma </th>
      <td mat-cell *matCellDef="let element"> {{element.aluno_turma}} </td>
    </ng-container>

    <ng-container matColumnDef="sala">
      <th mat-header-cell *matHeaderCellDef> Sala </th>
      <td mat-cell *matCellDef="let element"> {{element.sala.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data_Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.data_hora| date:'dd/MM/yyy hh:mm'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>